.gridContainer {
  display: grid;
  grid-template-areas:
    'header'
    'main'
    'footer';
  grid-template-columns: 1fr;
  grid-template-rows: 5rem 1fr 5rem;
  height: 100vh;
}

.header {
  grid-area: header;
  text-align: center;
}

.main {
  grid-area: main;
}

.footer {
  grid-area: footer;
}

.links {
  display: block;
  margin: 1rem auto;
  max-width: 500px;
  text-align: center;
}

.links a {
  width: 48px;
  height: 48px;
  margin: 0 10px;
  display: inline-block;
  transition: opacity 200ms ease;
}

.links a:hover {
  opacity: 0.6;
}

.avatar {
  margin: auto;
  max-width: 98%;
  display: block;
  height: auto;
}

.avatar img {
  height: 120px;
}

.name {
  text-align: center;
}

.name a {
  color: inherit;
}
.nameStyled {
  text-align: center;
  color: inherit;
}
